<br><br>
<div class="col-md-6 col-md-offset-3">
    <form name="form" (ngSubmit)="f.form.valid && register()" #f="ngForm" novalidate>
        <div class="form-group" class="col-lg-8">
            <label for="email">Email</label>
            <input type="text" class="form-control" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" id="email" name="email" ngModel #em="ngModel">
            <div *ngIf="em.errors &&(em.touched || em.dirty)" class="alert alert-danger">
                <div [hidden]="!em.errors?.pattern">
                    Invalid email
                </div>
            </div>
        </div><br>
        <div class="form-group " class="col-lg-8">
            <label for="password ">Password</label>
            <input type="password" class="form-control " id="password" name="password " #p="ngModel" [(ngModel)]="password" required>
            <div class="alert alert-danger" *ngIf="p.touched && !p.valid">This field is required</div>

        </div>
        <br>
        <div class="form-group " class="col-lg-6">
            <button type="submit" [disabled]="loading " class="btn btn-primary ">Register</button>

        </div>
    </form>
</div>